In [1]:
import pandas as pd




pd.set_option('display.max_rows', None)
# read exel file in desktop in my ubuntu and
df = pd.read_excel('./data/raw/Export Trade History.xlsx')
df['Date(UTC)'] = pd.to_datetime(df['Date(UTC)'])

####################### Extracting DATA ######################################
# Identify changes between zero and non-zero values
df['is_zero'] = df['Realized Profit'] == 0
df['group'] = df['is_zero'].ne(df['is_zero'].shift()).cumsum()

# Group by the identifier and sum 'New_Column_1' and 'Quantity'
result = df.groupby('group').agg({
    'Date(UTC)': 'first',
    'Symbol': 'first',
    'Side':'first',
    'Price': 'mean',
    'Quantity': 'sum',
    'Amount': 'sum',
    'Fee': 'sum',
    'Realized Profit': 'sum',
}).sort_values(by='group').reset_index(drop=True)

df_out = result[result['Realized Profit'] != 0].reset_index(drop=True)
df_out.columns = [col + '_OUT' if i < len(df_out.columns) - 1 else col for i, col in enumerate(df_out.columns)]
df_in = result[result['Realized Profit'] == 0].reset_index(drop=True)
df_in.columns = [col + '_IN' if i < len(df_in.columns) - 1 else col for i, col in enumerate(df_in.columns)]
df_in = df_in.drop('Realized Profit', axis=1)

################ Join the IN and OUT table ##############################
df_in = df_in.reset_index(drop=True)
df_out = df_out.reset_index(drop=True)
df_combined = pd.concat([df_in, df_out], axis=1)

############################## Feature Extraction #################################333
# Create 'Trade_Duration' column
df_combined['Trade_Duration'] = df_combined['Date(UTC)_OUT'] - df_combined['Date(UTC)_IN']
# Create 'Position' column
df_combined['Position'] = df_combined['Side_IN'].apply(lambda x: 'LONG' if x == 'BUY' else 'SHORT')
# Create 'Total_Fee' column
df_combined['Total_Fee'] = df_combined['Fee_IN'] + df_combined['Fee_OUT']
# Create 'Percentage' column
df_combined['Percentage'] = ((df_combined['Price_OUT'] - df_combined['Price_IN']) / df_combined['Price_IN']) * 100
# Create 'Earning' column
df_combined['Earning'] =   df_combined['Realized Profit'] - df_combined['Total_Fee']

df_combined.sort_values(by='Date(UTC)_IN',inplace=True)
df_combined.reset_index(drop=True, inplace=True)

# Create KASA
start_money = 927
df_combined['Total_Money'] = df_combined['Earning'].cumsum() + start_money

#dasdsa
df_combined['leverage'] = 100* df_combined['Realized Profit']/ df_combined.Percentage/20

# Final Representation
column_order = [
    'Date(UTC)_IN', 'Date(UTC)_OUT','Trade_Duration', 'Symbol_IN', 
    'Position','Price_IN', 'Price_OUT','Percentage', 'Quantity_IN', 
    'Amount_IN', 'Amount_OUT', 'Fee_IN', 'Fee_OUT','Total_Fee', 'Realized Profit','Earning','Total_Money', 'leverage'
]
df_combined = df_combined[column_order]

df_combined

/home/anil/.local/share/virtualenvs/trade_analysis-zrWQfRxp/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Date(UTC)_IN,Date(UTC)_OUT,Trade_Duration,Symbol_IN,Position,Price_IN,Price_OUT,Percentage,Quantity_IN,Amount_IN,Amount_OUT,Fee_IN,Fee_OUT,Total_Fee,Realized Profit,Earning,Total_Money,leverage
0,2023-11-16 12:28:10,2023-11-16 13:16:17,0 days 00:48:07,BTCUSDT,LONG,37113.400000,36961.700000,-0.408747,0.133,4936.08220,4915.90610,0.987216,0.000000,0.987216,-20.17610,-21.163316,905.836684,246.804110
1,2023-11-18 19:32:40,2023-11-18 20:14:03,0 days 00:41:23,LINKUSDT,SHORT,13.795000,13.668143,-0.919588,649.960,8966.19820,8883.62210,2.141991,4.441811,6.583802,82.57610,75.992298,981.828982,-448.984296
2,2023-11-19 10:12:23,2023-11-19 11:17:34,0 days 01:05:11,EDUUSDT,LONG,0.627800,0.623193,-0.733897,12742.000,7999.42760,7939.54180,1.629267,3.969771,5.599037,-59.88580,-65.484837,916.344144,407.998489
3,2023-11-19 11:22:59,2023-11-19 15:01:41,0 days 03:38:42,EDUUSDT,LONG,0.621565,0.629475,1.272532,8829.000,5487.95240,5557.42800,2.743976,2.778714,5.522690,69.47560,63.952910,980.297054,272.981845
4,2023-11-19 15:01:42,2023-11-19 15:03:10,0 days 00:01:28,EDUUSDT,SHORT,0.629022,0.628561,-0.073344,8829.000,5553.57670,5549.42670,2.776788,2.774713,5.551502,4.15000,-1.401502,978.895552,-282.911793
5,2023-11-19 15:03:10,2023-11-19 15:06:08,0 days 00:02:58,EDUUSDT,LONG,0.628716,0.628350,-0.058180,8829.000,5551.47970,5547.98170,2.775740,2.773991,5.549731,-3.49800,-9.047731,969.847822,300.616595
6,2023-11-19 15:14:28,2023-11-19 16:31:33,0 days 01:17:05,EDUUSDT,LONG,0.627600,0.631604,0.637961,12365.000,7760.27400,7809.58490,1.552055,3.904792,5.456847,49.31090,43.854053,1013.701874,386.472402
7,2023-11-19 16:32:40,2023-11-19 17:31:46,0 days 00:59:06,EDUUSDT,LONG,0.631700,0.634147,0.387315,13648.000,8621.44160,8653.36410,1.724288,4.326682,6.050970,31.92250,25.871530,1039.573404,412.100339
8,2023-11-19 17:38:54,2023-11-19 17:47:38,0 days 00:08:44,EDUUSDT,SHORT,0.638100,0.633089,-0.785318,1381.000,881.21610,874.29940,0.176243,0.437150,0.613393,6.91670,6.303307,1045.876711,-44.037601
9,2023-11-19 19:11:49,2023-11-19 20:55:28,0 days 01:43:39,EDUUSDT,LONG,0.628800,0.635644,1.088493,14546.000,9146.52480,9246.52720,1.829305,4.623264,6.452569,100.00240,93.549831,1139.426543,459.361674
10,2023-11-19 22:06:58,2023-11-19 22:19:26,0 days 00:12:28,EDUUSDT,LONG,0.630417,0.623836,-1.043802,17660.000,11135.63960,11015.78430,2.929705,5.507892,8.437597,-119.85530,-128.292897,1011.133646,574.128412
11,2023-11-19 22:51:21,2023-11-19 23:12:51,0 days 00:21:30,EDUUSDT,LONG,0.626120,0.633800,1.226602,7995.000,5008.04980,5067.23100,1.004047,1.013446,2.017494,59.18120,57.163706,1068.297352,241.240449
12,2023-11-19 23:20:05,2023-11-20 00:36:00,0 days 01:15:55,EDUUSDT,SHORT,0.637400,0.634870,-0.396925,15688.000,9999.53120,9960.37450,2.018455,4.980187,6.998642,39.15670,32.158058,1100.455410,-493.250604
13,2023-11-20 00:41:48,2023-11-20 05:31:52,0 days 04:50:04,AVAXUSDT,LONG,22.534000,22.311000,-0.989616,443.000,9982.56200,9883.77300,1.996512,1.976755,3.973267,-98.78900,-102.762267,997.693143,499.128100
14,2023-11-20 05:36:30,2023-11-20 11:14:11,0 days 05:37:41,AVAXUSDT,SHORT,22.368000,22.449571,0.364679,355.000,7940.64000,7969.51600,1.588128,3.984758,5.572886,-28.87600,-34.448886,963.244257,-395.909683
15,2023-11-20 14:39:57,2023-11-20 15:06:16,0 days 00:26:19,TIAUSDT,LONG,6.816500,6.976698,2.350151,1439.000,9808.94350,10039.25250,1.961789,5.019626,6.981415,230.30900,223.327585,1186.571843,489.987561
16,2023-11-20 15:14:01,2023-11-20 15:18:19,0 days 00:04:18,LINKUSDT,SHORT,15.386000,15.266655,-0.775672,940.240,14466.53264,14354.46476,2.893307,7.177232,10.070539,112.06788,101.997341,1288.569184,-722.392598
17,2023-11-20 15:25:50,2023-11-20 15:28:48,0 days 00:02:58,LINKUSDT,LONG,15.197000,15.160920,-0.237415,1077.520,16375.41135,16336.09995,6.200491,8.168050,14.368541,-39.31140,-53.679941,1234.889243,827.903748
18,2023-11-20 15:34:44,2023-11-20 15:35:33,0 days 00:00:49,LINKUSDT,LONG,15.130000,15.098115,-0.210738,1020.010,15432.75130,15400.55931,3.086550,7.700280,10.786830,-32.19199,-42.978820,1191.910423,763.792824
19,2023-11-20 15:39:38,2023-11-20 15:45:09,0 days 00:05:31,LINKUSDT,SHORT,15.149435,15.074643,-0.493694,913.830,13844.08156,13775.81141,6.922041,6.887906,13.809946,68.27015,54.460204,1246.370626,-691.421017
20,2023-11-20 17:39:53,2023-11-20 17:48:45,0 days 00:08:52,LINKUSDT,SHORT,15.077000,15.186632,0.727145,1038.620,15659.27374,15772.58419,3.131855,7.886292,11.018147,-113.31045,-124.328597,1122.042029,-779.146698
21,2023-11-20 17:49:17,2023-11-20 18:20:32,0 days 00:31:15,LINKUSDT,SHORT,15.153000,14.789640,-2.397941,867.120,13139.46936,12824.28906,2.627894,6.412144,9.040038,315.18030,306.140262,1428.182291,-657.189438
22,2023-11-20 18:20:42,2023-11-20 18:30:15,0 days 00:09:33,LINKUSDT,LONG,14.801481,14.888947,0.590927,1300.730,19254.84598,19364.54463,7.113082,9.682272,16.795354,109.69865,92.903296,1521.085587,928.191888
23,2023-11-20 21:22:32,2023-11-20 21:36:02,0 days 00:13:30,BNBUSDT,LONG,253.160000,252.935000,-0.088877,39.500,9999.82000,9990.70250,1.999964,4.995351,6.995315,-9.11750,-16.112815,1504.972772,512.930287
24,2023-11-20 22:21:02,2023-11-20 23:01:04,0 days 00:40:02,BNBUSDT,SHORT,255.074375,255.129375,0.021562,36.800,9386.75940,9388.81540,3.373392,4.694408,8.067800,-2.05600,-10.123800,1494.848972,-476.757142
25,2023-11-20 23:07:03,2023-11-21 00:35:03,0 days 01:28:00,EDUUSDT,SHORT,0.614300,0.616723,0.394474,15249.000,9367.46070,9404.80670,1.873492,4.702403,6.575895,-37.34600,-43.921895,1450.927076,-473.364134
26,2023-11-21 00:36:24,2023-11-21 01:28:40,0 days 00:52:16,EDUUSDT,SHORT,0.616000,0.613722,-0.369805,13986.000,8615.37600,8584.37810,1.723075,4.292189,6.015264,30.99790,24.982636,1475.909712,-419.111203
27,2023-11-21 01:35:37,2023-11-21 01:46:11,0 days 00:10:34,ADAUSDT,SHORT,0.385100,0.386200,0.285640,23195.000,8932.39450,8957.90900,1.786479,4.478955,6.265433,-25.51450,-31.779933,1444.129779,-446.619725
28,2023-11-21 02:02:21,2023-11-21 02:20:47,0 days 00:18:26,LINKUSDT,LONG,14.521000,14.526000,0.034433,583.140,8467.77594,8470.69164,1.693555,1.694138,3.387693,2.91570,-0.471993,1443.657785,423.388794
29,2023-11-21 02:30:38,2023-11-21 03:18:38,0 days 00:48:00,LINKUSDT,LONG,14.375000,14.322211,-0.367231,585.160,8411.67500,8381.08482,1.940869,4.190542,6.131412,-30.59018,-36.721592,1406.936193,416.497653
30,2023-11-21 10:53:31,2023-11-21 12:44:38,0 days 01:51:07,BNBUSDT,LONG,260.820000,260.392727,-0.163819,29.500,7694.19000,7681.36660,3.847095,3.840683,7.687778,-12.82340,-20.511178,1386.425015,391.389267

In [8]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date(UTC)_IN     31 non-null     datetime64[ns]
 1   Date(UTC)_OUT    31 non-null     datetime64[ns]
 2   Trade_Duration   31 non-null     timedelta64[ns]
 3   Symbol_IN        31 non-null     object
 4   Position         31 non-null     object
 5   Price_IN         31 non-null     float64
 6   Price_OUT        31 non-null     float64
 7   Percentage       31 non-null     float64
 8   Quantity_IN      31 non-null     float64
 9   Amount_IN        31 non-null     float64
 10  Amount_OUT       31 non-null     float64
 11  Fee_IN           31 non-null     float64
 12  Fee_OUT          31 non-null     float64
 13  Total_Fee        31 non-null     float64
 14  Realized Profit  31 non-null     float64
 15  Earning          31 non-null     float64
 16  Total_Money      31 non-null     float64
 17  leverage         31 non-null     float64
dtypes: datetime64[ns](2), float64(13), object(2), timedelta64[ns](1)
memory usage: 4.5+ KB

In [ ]:
import psycopg2
from psycopg2 import extras
import pandas as pd

# Database connection parameters
dbname = 'tradingDB'
user = 'anilberkdelikaya'
password = '277227'
host = 'localhost'
port = '5432'

# Create a connection
conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

# Create a cursor object
cur = conn.cursor()

# Assuming df_sorted is your DataFrame
# Convert DataFrame to a list of tuples
tuples = [tuple(x) for x in df_sorted.to_numpy()]

# Define the insert query
# Make sure column names match your database schema
query = """
INSERT INTO your_table_name (column1, column2, column3, ...)
VALUES %s
"""

# Use execute_batch to insert the data
extras.execute_batch(cur, query, tuples)

# Commit the transaction
conn.commit()

# Close the cursor and connection
cur.close()
conn.close()

In [6]:
timestamp =34
output_folder = './data/processed/'
f"{output_folder}/Processed_Trade_History_{timestamp}.csv"

'./data/processed//Processed_Trade_History_34.csv'

,Date(UTC)_IN,Date(UTC)_OUT,Trade_Duration,Symbol_IN,Position,Price_IN,Price_OUT,Percentage,Quantity_IN,Amount_IN,Amount_OUT,Fee_IN,Fee_OUT,Total_Fee,Realized Profit,Earning,Total_Money,leverage
0,2023-11-16 12:28:10,2023-11-16 13:16:17,0 days 00:48:07,BTCUSDT,LONG,37113.400000,36961.700000,-0.408747,0.133,4936.08220,4915.90610,0.987216,0.000000,0.987216,-20.17610,-21.163316,905.836684,246.804110
1,2023-11-18 19:32:40,2023-11-18 20:14:03,0 days 00:41:23,LINKUSDT,SHORT,13.795000,13.668143,-0.919588,649.960,8966.19820,8883.62210,2.141991,4.441811,6.583802,82.57610,75.992298,981.828982,-448.984296
2,2023-11-19 10:12:23,2023-11-19 11:17:34,0 days 01:05:11,EDUUSDT,LONG,0.627800,0.623193,-0.733897,12742.000,7999.42760,7939.54180,1.629267,3.969771,5.599037,-59.88580,-65.484837,916.344144,407.998489
3,2023-11-19 11:22:59,2023-11-19 15:01:41,0 days 03:38:42,EDUUSDT,LONG,0.621565,0.629475,1.272532,8829.000,5487.95240,5557.42800,2.743976,2.778714,5.522690,69.47560,63.952910,980.297054,272.981845
4,2023-11-19 15:01:42,2023-11-19 15:03:10,0 days 00:01:28,EDUUSDT,SHORT,0.629022,0.628561,-0.073344,8829.000,5553.57670,5549.42670,2.776788,2.774713,5.551502,4.15000,-1.401502,978.895552,-282.911793
5,2023-11-19 15:03:10,2023-11-19 15:06:08,0 days 00:02:58,EDUUSDT,LONG,0.628716,0.628350,-0.058180,8829.000,5551.47970,5547.98170,2.775740,2.773991,5.549731,-3.49800,-9.047731,969.847822,300.616595
6,2023-11-19 15:14:28,2023-11-19 16:31:33,0 days 01:17:05,EDUUSDT,LONG,0.627600,0.631604,0.637961,12365.000,7760.27400,7809.58490,1.552055,3.904792,5.456847,49.31090,43.854053,1013.701874,386.472402
7,2023-11-19 16:32:40,2023-11-19 17:31:46,0 days 00:59:06,EDUUSDT,LONG,0.631700,0.634147,0.387315,13648.000,8621.44160,8653.36410,1.724288,4.326682,6.050970,31.92250,25.871530,1039.573404,412.100339
8,2023-11-19 17:38:54,2023-11-19 17:47:38,0 days 00:08:44,EDUUSDT,SHORT,0.638100,0.633089,-0.785318,1381.000,881.21610,874.29940,0.176243,0.437150,0.613393,6.91670,6.303307,1045.876711,-44.037601
9,2023-11-19 19:11:49,2023-11-19 20:55:28,0 days 01:43:39,EDUUSDT,LONG,0.628800,0.635644,1.088493,14546.000,9146.52480,9246.52720,1.829305,4.623264,6.452569,100.00240,93.549831,1139.426543,459.361674
10,2023-11-19 22:06:58,2023-11-19 22:19:26,0 days 00:12:28,EDUUSDT,LONG,0.630417,0.623836,-1.043802,17660.000,11135.63960,11015.78430,2.929705,5.507892,8.437597,-119.85530,-128.292897,1011.133646,574.128412
11,2023-11-19 22:51:21,2023-11-19 23:12:51,0 days 00:21:30,EDUUSDT,LONG,0.626120,0.633800,1.226602,7995.000,5008.04980,5067.23100,1.004047,1.013446,2.017494,59.18120,57.163706,1068.297352,241.240449
12,2023-11-19 23:20:05,2023-11-20 00:36:00,0 days 01:15:55,EDUUSDT,SHORT,0.637400,0.634870,-0.396925,15688.000,9999.53120,9960.37450,2.018455,4.980187,6.998642,39.15670,32.158058,1100.455410,-493.250604
13,2023-11-20 00:41:48,2023-11-20 05:31:52,0 days 04:50:04,AVAXUSDT,LONG,22.534000,22.311000,-0.989616,443.000,9982.56200,9883.77300,1.996512,1.976755,3.973267,-98.78900,-102.762267,997.693143,499.128100
14,2023-11-20 05:36:30,2023-11-20 11:14:11,0 days 05:37:41,AVAXUSDT,SHORT,22.368000,22.449571,0.364679,355.000,7940.64000,7969.51600,1.588128,3.984758,5.572886,-28.87600,-34.448886,963.244257,-395.909683
15,2023-11-20 14:39:57,2023-11-20 15:06:16,0 days 00:26:19,TIAUSDT,LONG,6.816500,6.976698,2.350151,1439.000,9808.94350,10039.25250,1.961789,5.019626,6.981415,230.30900,223.327585,1186.571843,489.987561
16,2023-11-20 15:14:01,2023-11-20 15:18:19,0 days 00:04:18,LINKUSDT,SHORT,15.386000,15.266655,-0.775672,940.240,14466.53264,14354.46476,2.893307,7.177232,10.070539,112.06788,101.997341,1288.569184,-722.392598
17,2023-11-20 15:25:50,2023-11-20 15:28:48,0 days 00:02:58,LINKUSDT,LONG,15.197000,15.160920,-0.237415,1077.520,16375.41135,16336.09995,6.200491,8.168050,14.368541,-39.31140,-53.679941,1234.889243,827.903748
18,2023-11-20 15:34:44,2023-11-20 15:35:33,0 days 00:00:49,LINKUSDT,LONG,15.130000,15.098115,-0.210738,1020.010,15432.75130,15400.55931,3.086550,7.700280,10.786830,-32.19199,-42.978820,1191.910423,763.792824
19,2023-11-20 15:39:38,2023-11-20 15:45:09,0 days 00:05:31,LINKUSDT,SHORT,15.149435,15.074643,-0.493694,913.830,13844.08156,13775.81141,6.922041,6.887906,13.809946,68.27015,54.460204,1246.370626,-691.421017
20,2023-11-20 17:39:53,2023-11-20 17:48:45,0 days 00:08:52,LINKUSDT,SHORT,15.077000,15.186632,0.727145,1038.620,15659.27374,15772.58419,3.131855,7.886292,11.018147,-113.31045,-124.328597,1122.042029,-779.146698
21,2023-11-20 17:49:17,2023-11-20 18:20:32,0 days 00:31:15,LINKUSDT,SHORT,15.153000,14.789640,-2.397941,867.120,13139.46936,12824.28906,2.627894,6.412144,9.040038,315.18030,306.140262,1428.182291,-657.189438
22,2023-11-20 18:20:42,2023-11-20 18:30:15,0 days 00:09:33,LINKUSDT,LONG,14.801481,14.888947,0.590927,1300.730,19254.84598,19364.54463,7.113082,9.682272,16.795354,109.69865,92.903296,1521.085587,928.191888
23,2023-11-20 21:22:32,2023-11-20 21:36:02,0 days 00:13:30,BNBUSDT,LONG,253.160000,252.935000,-0.088877,39.500,9999.82000,9990.70250,1.999964,4.995351,6.995315,-9.11750,-16.112815,1504.972772,512.930287
24,2023-11-20 22:21:02,2023-11-20 23:01:04,0 days 00:40:02,BNBUSDT,SHORT,255.074375,255.129375,0.021562,36.800,9386.75940,9388.81540,3.373392,4.694408,8.067800,-2.05600,-10.123800,1494.848972,-476.757142
25,2023-11-20 23:07:03,2023-11-21 00:35:03,0 days 01:28:00,EDUUSDT,SHORT,0.614300,0.616723,0.394474,15249.000,9367.46070,9404.80670,1.873492,4.702403,6.575895,-37.34600,-43.921895,1450.927076,-473.364134
26,2023-11-21 00:36:24,2023-11-21 01:28:40,0 days 00:52:16,EDUUSDT,SHORT,0.616000,0.613722,-0.369805,13986.000,8615.37600,8584.37810,1.723075,4.292189,6.015264,30.99790,24.982636,1475.909712,-419.111203
27,2023-11-21 01:35:37,2023-11-21 01:46:11,0 days 00:10:34,ADAUSDT,SHORT,0.385100,0.386200,0.285640,23195.000,8932.39450,8957.90900,1.786479,4.478955,6.265433,-25.51450,-31.779933,1444.129779,-446.619725
28,2023-11-21 02:02:21,2023-11-21 02:20:47,0 days 00:18:26,LINKUSDT,LONG,14.521000,14.526000,0.034433,583.140,8467.77594,8470.69164,1.693555,1.694138,3.387693,2.91570,-0.471993,1443.657785,423.388794
29,2023-11-21 02:30:38,2023-11-21 03:18:38,0 days 00:48:00,LINKUSDT,LONG,14.375000,14.322211,-0.367231,585.160,8411.67500,8381.08482,1.940869,4.190542,6.131412,-30.59018,-36.721592,1406.936193,416.497653
30,2023-11-21 10:53:31,2023-11-21 12:44:38,0 days 01:51:07,BNBUSDT,LONG,260.820000,260.392727,-0.163819,29.500,7694.19000,7681.36660,3.847095,3.840683,7.687778,-12.82340,-20.511178,1386.425015,391.389267

In [13]:
df1=pd.DataFrame({'A':[1,2,3,3,1],'B':[2,3,4,4,2]})
df2=pd.DataFrame({'A':[1],'B':[2]})
df1

   A  B
0  1  2
1  2  3
2  3  4
3  3  4
4  1  2

In [14]:
df2

   A  B
0  1  2

In [19]:
df2[~df2.apply(tuple,1).isin(df2.apply(tuple,1))]

Empty DataFrame
Columns: [A, B]
Index: []

In [15]:
df1[~df1.apply(tuple,1).isin(df2.apply(tuple,1))]

   A  B
1  2  3
2  3  4
3  3  4

In [17]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date(UTC)_IN     31 non-null     datetime64[ns]
 1   Date(UTC)_OUT    31 non-null     datetime64[ns]
 2   Trade_Duration   31 non-null     timedelta64[ns]
 3   Symbol_IN        31 non-null     object
 4   Position         31 non-null     object
 5   Price_IN         31 non-null     float64
 6   Price_OUT        31 non-null     float64
 7   Percentage       31 non-null     float64
 8   Quantity_IN      31 non-null     float64
 9   Amount_IN        31 non-null     float64
 10  Amount_OUT       31 non-null     float64
 11  Fee_IN           31 non-null     float64
 12  Fee_OUT          31 non-null     float64
 13  Total_Fee        31 non-null     float64
 14  Realized Profit  31 non-null     float64
 15  Earning          31 non-null     float64
 16  Total_Money      31 non-null     float64
 17  leverage         31 non-null     float64
dtypes: datetime64[ns](2), float64(13), object(2), timedelta64[ns](1)
memory usage: 4.5+ KB